body{
background-color: lightgrey;
font-family: sans-serif;
}

h1{
text-decoration: black;
text-align: center;
}

nav ul li {

list-style: none;
display:inline-block;
}

a{
text-decoration: none;
color: black;

}

a[rel='alternate']:after{ 
    content: " Brexit";
}

a[rel='next']:before{ 
    content:url("add_circle_outline-24px.svg");
}

a[rel='tag']:before{ 
    content:url("shopping_cart-24px.svg");
}

a[rel='bookmark']:before{ 
    content:url("24px.svg");
}

a[rel='help']:before{ 
    content:url("picture_as_pdf-24px.svg");
}

a[rel='search']:before{ 
    content:url("image_search-24px.svg");
}

a[rel='nofollow']:before{ 
    content:url("security-24px.svg");
}




.navegacion{
padding: 5%;
margin-top: 3%;
width: 20%;
}