.container{

display: grid;
grid-template-columns: 1fr 2fr 1fr 2fr;

}

h1{
    text-align: center;
    text-decoration: black;
    font-size: 30px;
}

.item2{

    grid-column: span 3;
    
}

.item{
    margin: 8px;
}

div:nth-child(odd){
background-color: gray;
}

.item:hover{
    box-shadow: 10px black;
}