*{
font-family: 'Grenze';
}

body{
    font-size: 20px;
    margin-bottom: 3%;
}

fieldset{

width: 35%;
height: 70%;

}

input[type='text']{

background: lightblue;

}

input[type='number']{

    background: lightblue;
    
}

input[type='text']:invalid{
    background: lightcoral;
}

input[id='puntosCordura']:out-of-range{

    background: lightcoral;
}

select[id="profesion"]{
    border-radius: 60px;
}

input[type="submit"]{
    border: none;
    border-radius: 15px;
    background-color: lightblue;
    text-transform: uppercase;
}

a[href = "#nombre"]{

text-decoration: none;
color: black;

}

input[type="checkbox"]:checked::before{

    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10%;
    top: 39%;
    content: "";  
    background: url("cthulhu.svg ");
    background-size: 100%;


}

#nombre:target{

    background: lightyellow;
}

div{
    margin-bottom: 2%;
}

