body {
    display: grid;
    background-color: yellow;
}

.mapa {
    width: 1200px;
    height: 695px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.camino {
    background-image: url("imgs/textura3.jpeg");
    background-size: 100% 100%;
    /*background-color: lightcoral;*/
}

.muroRodeado {
    background-color: black;
    background-size: 100% 100%;
}

.muroRevelado {
    background-color: red;
    background-size: 100% 100%;
}

.puerta {
    background-image: url("imgs/logo.png");
    background-size: 100% 100%;
}

.muro {
    /* background-image: url("imgs/edificio3.jpg");*/
    background-color: black;
    background-size: 100% 100%;
}

.techo {
    background-color: yellow;
}

.pasado {
    background-color: red;
}

.puerta {
    background-image: url("imgs/logo.png");
    background-size: 100% 100%;
}

.huella {
    background-image: url("imgs/huella.png"), url("imgs/textura3.jpeg");
    background-size: 100% 100%;
}

.personajeDerecha {
    background-image: url("imgs/batman.gif"), url("imgs/textura3.jpeg");
    background-size: 100% 100%;
}

.personajeIzquierda {
    background-image: url("imgs/batmanIzquierda.gif"), url("imgs/textura3.jpeg");
    background-size: 100% 100%;
}

.personajeAbajo {
    background-image: url("imgs/batmanAbajo.gif"), url("imgs/textura3.jpeg");
    background-size: 100% 100%;
}

.personajeArriba {
    background-image: url("imgs/batmanArriba.gif"), url("imgs/textura3.jpeg");
    background-size: 100% 100%;
}

.momia {
    background-image: url("imgs/joker.gif"), url("imgs/textura3.jpeg");
    background-size: 100% 100%;
}