.container {
    display: grid;
    grid-template-rows: 100px 1000px;
    border: 1px solid black;
}

.pantalla {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: 1px solid black;
}