body {
    display: grid;
    background-color: yellow;
}

.mapa {
    width: 1200px;
    height: 695px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.muro,
.camino {
    background-color: lightsalmon;
}

.muro {
    background-color: black;
}

.techo {
    background-color: yellow;
}

.personaje {
    background-image: url("imgs/ezgif.com-resize.gif");
    background-size: 100% 100%;
    background-color: lightsalmon;
}

.villano {
    background-image: url("imgs/joker.gif");
    background-size: 100% 100%;
    background-color: lightsalmon;
}