body {
    display: grid;
    background-color: yellow;
}

.mapa {
    width: 850px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.muro,
.camino {
    background-color: lightsalmon;
}

.muro {
    background-color: black;
}

.techo {
    background-image: url("personaje");
    background-color: yellow;
    background-blend-mode: lighten, normal;
}