@media(min-width:600px){

nav ul li{
    font-family: Arial;
    
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 10px;
    text-align: center
    
}
}

@media(max-width:600px){

nav ul li{
font-family: Arial;
background-color: white;
text-decoration: none;
list-style: none;

}

}