.transicion{
transition: 2s;
transform: translateX(1400px);
}

.caja{
    width: 50px;
    height: 50px;
    background-image: url("imgs/cthulhu.svg");
    background-size: 100% 100%;
    transition: 2s;

}

.linear{
    transition-timing-function: cubic-bezier(0.039, 0.8966, 0, 1.0017);
}

.ease-in{
    transition-timing-function: cubic-bezier(0.3407, 0.361, 0.7068, 0.1136);
}

.ease-out{
    transition-timing-function: cubic-bezier(0.022, 0.0119, 0.9949, 0.0051);
}

.ease{
    transition-timing-function: cubic-bezier(0.9814, -0.0051, 0, 1.0017);
}

.ease-in-out{
    transition-timing-function: cubic-bezier(0.4695, 0.0424, 0.0153, 0.9949);
}

